counter-input {
  .jianhao{
    width: 0.64rem;
    height: 0.64rem;
    transform: translateY(0.053333rem);
  }
  .jiahao{
    width: 0.64rem;
    height: 0.64rem;
    transform: translateY(0.053333rem);
  }
}
